<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>test shakespear</title>

</head><body>
<div class="codeblock">
<p>Shakespeare's Website
</p>
<p>
Tomorrow, and tomorrow, and tomorrow, creeps in this petty pace from
day to day,
to the last syllable of recorded time; and all our yesterdays have
lighted fools
the way to dusty death. Out, out, brief candle! Life's but a walking
shadow; a poor player,
that struts and frets his hour upon the stage and then is heard no
more. It is a tale
told by an idiot, full of sound and fury, signifying nothing.&nbsp;</p>
<p></p>
</div>
<div>
</div>
</body></html>